@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

header{
    background-color: #2C2C2C;
    position: -webkit-sticky;
    position: sticky;
}

.navBar{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
}

nav{
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 150px;
}

.navBarList{
    display: flex;
    list-style: none;
    position: relative;
}

.navBarItem{
    padding: 1rem 0;
    min-width: 15rem;
    text-align: center;
}

.navBarLink{
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.active{
    height: 2px;
    width: 15rem;
    background-color: white;
    position: absolute;
    bottom: -1rem;
    transition: transform .6s;
}

.navBarItem:nth-child(1):hover ~ .active{
    transform: translateX(0);
    color: #39AA7F;
}

.navBarItem:nth-child(2):hover ~ .active{
    transform: translateX(15rem);
    color: #39AA7F;
}

.navBarItem:nth-child(3):hover ~ .active{
    transform: translateX(30rem);
    color: #39AA7F;
}

.navBarItem:nth-child(4):hover ~ .active{
    transform: translateX(45rem);
    color: #39AA7F;
}

/* Start of SlideShow Style */
.slideshow{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slide{
    width: inherit;
    height: inherit;
    position: absolute;
    animation: cycleImages 41s infinite;
    opacity: 0;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 41s infinite;
}

.slide:nth-child(1),
.slide:nth-child(1) img{
    animation-delay: 0s;
}

.slide:nth-child(2),
.slide:nth-child(2) img{
    animation-delay: 10s;
}

.slide:nth-child(3),
.slide:nth-child(3) img{
    animation-delay: 20s;
}

.slide:nth-child(4),
.slide:nth-child(4) img{
    animation-delay: 30s;
}

.slideText{
    width: 100%;
    position: absolute;
    top: 25%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 75%;
    color: white;
    padding: 5rem 3rem;
    font-family: "Monserrat", sans-serif;
    text-align: center;
}


.mainText{
    font-size: 5rem;
    font-family: "Monserrat", sans-serif;
    letter-spacing: 1px;
    font-weight: 150;
}

.subText{
    margin-top: 10px;
    font-size: 2.5rem;
    font-family: "Monserrat", sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
}

@keyframes cycleImages{
    25%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}

@keyframes zoom{
    100%{
        transform: scale(1.3);
    }
}

/* Logos on the front page */

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.introLogos img{
    width: 100%;
}

.introLogos figcaption{
    font-family: 'Abel', sans-serif;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: rgb(0, 185, 114);
    font-weight: 200;
}

.mentorship figcaption{
    margin-top: 3rem;
}

.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after{
    content: "";
    clear: both;
    display: table
}

.introLogos p {
    margin-top: 7rem;
    font-size: 2.15rem;
}

/* For the Paragraphs of Home Page */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.homeIntro{
    padding: 8px;
    text-align: center;
    color: #2C2C2C;
    font-size: 20px;
    opacity: 80%;
    font-family: 'Abel', sans-serif;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
}

.mission{
    width: 100%;
    position: relative;
    background-image: linear-gradient(to bottom right,rgb(255, 174, 0), rgb(255, 251, 1));
    color: #2C2C2C;
    text-align: center;
    opacity: 90%;
    padding: 10rem 0;
}

.mission h5{
    font-size: 6rem;
    margin-top: 0rem;
    margin-bottom: 8rem;
}

.mission p{
    font-size: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 10rem;
}

.joinSection img{
    width: 100%;
    position: relative;
}

.joinText{
    width: 100%;
    position: relative;
    margin-top: -40%;
    color: #2C2C2C;
    opacity: 90%;
}

.joinText{
    text-align: center;
}

.joinText p{
    font-size: 3rem;
    margin-top: 12rem;
    margin-bottom: 0;
}

.joinSection button{
    background-image: linear-gradient(to bottom right,mediumspringgreen, rgb(0, 255, 242));
    padding: 9px 25px;
    border:None;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    margin-top: 5rem;
}

.joinSection button:hover{
    background-image: linear-gradient(to bottom right,rgb(0, 199, 118), rgb(0, 199, 242));
}

.joinSection a{
    text-decoration: none;
    font-family: 'Abel', sans-serif;    
    font-size: 3rem;
    color: #2C2C2C;
}

#newsHeader h5{
    position: relative;
    color: #2C2C2C;
    text-align: center;
    margin-top: 25rem;
    font-size: 5rem;
    font-family: "Monserrat", sans-serif;
    font-weight: 200;
}

.news{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url("background.jpg");
    overflow: hidden;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: "Monserrat", sans-serif;
    text-align: center;


    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
}

.cardImg {
    grid-area: image;
    /* background: url(homePhotos/community.jpg); */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* background-size: cover; */
}

.cardText {
    grid-area: text;
    margin: 25px;
}

.cardText .date {
    /* color: rgb(255, 7, 110); */
    font-size:13px;
}

.cardText p {
    color: grey;
    font-size:15px;
    font-weight: 300;
}

.cardText h2 {
    margin-top:0px;
    font-size:28px;
}

.cardStats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* background: rgb(0, 250, 154); */
}


.cardStats .stat {
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.cardStats .value{
    font-size:22px;
    font-weight: 500;
}

.cardStats .value sup{
    font-size:12px;
}

.cardStats .type{
    font-size:11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/* card1 */

.card1Img{
    background: url(homePhotos/SHPEgroup.jpg);
    background-size: cover;
}

.card1 .date{
    color: rgb(0, 221, 136);
}

.card1Stats .border {
    border-left: 1px solid rgb(0, 212, 131);
    border-right: 1px solid rgb(0, 212, 131);
}

.card1Stats{
    background: rgb(0, 221, 136);
}

/* card2 */
.card2Img {
    background: url(homePhotos/news1.jpg);
    background-size: cover;
}

.card2 .date {
    color: rgb(255, 168, 86);
}

.card2Stats .border {
    border-left: 1px solid rgb(253, 159, 71);
    border-right: 1px solid rgb(253, 159, 71);
}

.card2Stats {
    background: rgb(255, 168, 86);
}

/*card3*/
.card3Img {
    background: url(homePhotos/news2.jpg);
    background-size: cover;
}

.card3 .date {
    color: rgb(0, 221, 136);
}

.card3Stats .border {
    border-left: 1px solid rgb(0, 212, 131);
    border-right: 1px solid rgb(0, 212, 131)
}

.card3Stats {
    background: rgb(0, 221, 136);
}

.news h5{
    font-size: 6rem;
    color: #2C2C2C;
    margin-left: 30px;
    margin-right: 10px;

}

body a{
    color: #2c2c2c;
}

footer a{
    color: White;
}

footer h5{
    color: white;
    font-size: 2rem;
    font-weight: 50;
}

.main_footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2C2C2C;
}
.upper_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_socials {
    justify-content: space-around;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    margin: 4px 2px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
    color: rgb(0, 221, 136);
}
.footer_copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: white;
    padding: 13px;
}